<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3.列表过滤</title>
    <script src="../js/vue.js"></script>
  </head>
  <body>
    <div id="root">
        <input type="text" v-model="keyWord">
        <ul>
            <li v-for="(p, index) in filPersons" :key="index">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>
    </div>

    <script>
      Vue.config.productionTip = false

      const vm = new Vue({
        el: '#root',
        data: {
          keyWord: '',
          persons:[
              {id:'001', name:'马冬梅', age:19, sex:'女'},
              {id:'002', name:'周冬雨', age:20, sex:'女'},
              {id:'003', name:'周杰伦', age:21, sex:'男'},
              {id:'004', name:'温兆伦', age:22, sex:'男'},
          ],
        //   filPersons:[]
        },

        // watch监视实现过滤
        // watch: {
        //     keyWord: {
        //         //让它立即先执行一次，因为刚开始keyWord为'',''也在字符串中，过滤返回的是true,就是persons所有的列表项，
        //         //  不然的话刚开始页面会什么也没有，因为ul列表中绑定的是过滤后的 filPersons数组
        //         immediate: true, 
        //         handler(val) {
        //             this.filPersons = this.persons.filter(p => {
        //                 return p.name.includes(val)
        //             })
        //         }
        //     }
        // },

        // 用计算属性实现过滤
        computed: {
            filPersons() {
                return this.persons.filter( p => {
                    return p.name.includes(this.keyWord)
                })
            }
        }
      })
</script>
  </body>
</html>